.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161e26;
  color: white;
  padding: 10px 20px;
}

.appName {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburgerMenu, .profileIcon {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
